*.py filter=lfs diff=lfs merge=lfs -text
*.XML filter=lfs diff=lfs merge=lfs -text
*.IML filter=lfs diff=lfs merge=lfs -text
*.Text filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
